<?xml version='1.0' encoding='utf-8'?>
<widget id="com.masmargen.cl" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>SochiORL</name>
	<description>
		SochiORL app
	</description>
	<author email="support@phonegap.com" href="http://phonegap.com">
		PhoneGap Team
	</author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <icon src="res/icon.png" />

    <icon src="www/res/icon.png" />
  <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
  <preference name="auto-hide-splash-screen" value="true" /> 
  <content src="index.html"/>	
  <preference name="orientation" value="portrait" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />
  <plugin spec="https://github.com/apache/cordova-plugin-legacy-whitelist#122d4b9" />

  <plugin spec="https://github.com/apache/cordova-plugin-inappbrowser#8e3f2f2" />

  <plugin spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin#4324168" />


  <!-- Ejemplo para instalar plugin desde github <plugin spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin" source="git"/>-->


</widget>
