<?xml version='1.0' encoding='utf-8'?>
<widget id="com.masmargen.cl" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>SochiORL</name>
	<description>
		SochiORL app
	</description>
	<author email="jgonzalez@masmargen.cl" href="http://masmargen.cl">
		Masmargen Team
	</author>
  <!--<preference name="phonegap-version" value="cli-7.0.1" />
  <icon src="www/res/icon.png" />-->
  <preference name="show-splash-screen-spinner" value="true" /> 
  <preference name="auto-hide-splash-screen" value="true" /> 
  <content src="index.html"/>	
  <preference name="orientation" value="portrait" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />

  <icon density="ldpi" platform="android" src="drawable-ldpi-icon.png" />
  <icon density="mdpi" platform="android" src="drawable-mdpi-icon.png" />
  <icon density="hdpi" platform="android" src="drawable-hdpi-icon.png" />
  <icon density="xhdpi" platform="android" src="drawable-xhdpi-icon.png" />
  <icon density="xxhdpi" platform="android" src="drawable-xxhdpi-icon.png" />
  <icon density="xxxhdpi" platform="android" src="drawable-xxxhdpi-icon.png" />
  <splash density="land-ldpi" platform="android" src="drawable-land-ldpi-screen.png" />
  <splash density="land-mdpi" platform="android" src="drawable-land-mdpi-screen.png" />
  <splash density="land-hdpi" platform="android" src="drawable-land-hdpi-screen.png" />
  <splash density="land-xhdpi" platform="android" src="drawable-land-xhdpi-screen.png" />
  <splash density="land-xxhdpi" platform="android" src="drawable-land-xxhdpi-screen.png" />
  <splash density="land-xxxhdpi" platform="android" src="drawable-land-xxxhdpi-screen.png" />
  <splash density="port-ldpi" platform="android" src="drawable-port-ldpi-screen.png" />
  <splash density="port-mdpi" platform="android" src="drawable-port-mdpi-screen.png" />
  <splash density="port-hdpi" platform="android" src="drawable-port-hdpi-screen.png" />
  <splash density="port-xhdpi" platform="android" src="drawable-port-xhdpi-screen.png" />
  <splash density="port-xxhdpi" platform="android" src="drawable-port-xxhdpi-screen.png" />
  <splash density="port-xxxhdpi" platform="android" src="drawable-port-xxxhdpi-screen.png" />


  <icon height="57" src="icon.png" platform="ios" width="57" />
  <icon height="114" src="icon@2x.png" platform="ios" width="114" />
  <icon height="40" src="icon-40.png" platform="ios" width="40" />
  <icon height="80" src="icon-40@2x.png" platform="ios" width="80" />
  <icon height="120" src="icon-40@3x.png" platform="ios" width="120" />
  <icon height="50" src="icon-50.png" platform="ios" width="50" />
  <icon height="100" src="icon-50@2x.png" platform="ios" width="100" />
  <icon height="60" src="icon-60.png" platform="ios" width="60" />
  <icon height="120" src="icon-60@2x.png" platform="ios" width="120" />
  <icon height="180" src="icon-60@3x.png" platform="ios" width="180" />
  <icon height="72" src="icon-72.png" platform="ios" width="72" />
  <icon height="144" src="icon-72@2x.png" platform="ios" width="144" />
  <icon height="76" src="icon-76.png" platform="ios" width="76" />
  <icon height="152" src="icon-76@2x.png" platform="ios" width="152" />
  <icon height="167" src="icon-83.5@2x.png" platform="ios" width="167" />
  <icon height="29" src="icon-small.png" platform="ios" width="29" />
  <icon height="58" src="icon-small@2x.png" platform="ios" width="58" />
  <icon height="87" src="icon-small@3x.png" platform="ios" width="87" />
  <icon height="1024" src="icon-1024.png" platform="ios" width="1024" />

  
  <plugin spec="https://github.com/apache/cordova-plugin-legacy-whitelist#122d4b9" />

  <plugin spec="https://github.com/apache/cordova-plugin-inappbrowser#8e3f2f2" />

  <plugin spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin#4324168" />

  <!-- Ejemplo para instalar plugin desde github <plugin spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin" source="git"/>-->
</widget>
